In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
movies = pd.read_csv('titles.csv')
cast = pd.read_csv('cast.csv.zip')
release_dates = pd.read_csv('release_dates.csv', parse_dates=['date'], infer_datetime_format=True)

In [ ]:
print("List all the 'Harry Potter' movies from the most recent to the earliest")
harrypotter_df = movies[movies.title.str.contains('Harry Potter', case=False)]
print(harrypotter_df.sort_values(by=['year'], ascending=False).iloc[:])

List all the 'Harry Potter' movies from the most recent to the earliest

                                               title  year
143147  Harry Potter and the Deathly Hallows: Part 2  2011
152831  Harry Potter and the Deathly Hallows: Part 1  2010
109213        Harry Potter and the Half-Blood Prince  2009
50581      Harry Potter and the Order of the Phoenix  2007
187926           Harry Potter and the Goblet of Fire  2005
61957       Harry Potter and the Prisoner of Azkaban  2004
82791        Harry Potter and the Chamber of Secrets  2002
223087         Harry Potter and the Sorcerer's Stone  2001

In [ ]:
print("How many movies were made in the year 2015?")
print(len(movies[movies.year == 2015]))

How many movies were made in the year 2015?
8702

In [ ]:
print("How many movies were made from 2000 till 2018?")
print(len(movies[(movies.year >= 2000) & (movies.year < 2018)]))

How many movies were made from 2000 till 2018?
106029

In [ ]:
print('How many movies are titled "Hamlet"?')
print(len(movies[movies.title == 'Hamlet']))

How many movies are titled "Hamlet"?
20

In [ ]:
print('List all movies titled "Hamlet"')
print(movies[movies.title == 'Hamlet'].iloc[:])

List all movies titled "Hamlet"
         title  year
1931    Hamlet  2009
8214    Hamlet  1976
46344   Hamlet  1921
55639   Hamlet  2000
73869   Hamlet  1948
98326   Hamlet  1990
118535  Hamlet  1913
124506  Hamlet  1911
140203  Hamlet  1954
155004  Hamlet  1964
178290  Hamlet  2014
180979  Hamlet  1987
181090  Hamlet  1910
186137  Hamlet  2015
191940  Hamlet  2016
218339  Hamlet  1973
222156  Hamlet  1969
227953  Hamlet  2011
241149  Hamlet  1996
244747  Hamlet  2017

In [ ]:
print('How many roles in the movie "Inception" are of the supporting cast')
print(len(cast[(cast.title == 'Inception') & (cast.n != cast.n)]))

How many roles in the movie "Inception" are of the supporting cast

27

In [ ]:
print('How many roles in the movie "Inception" are of the main cast')
print(len(cast[(cast.title == 'Inception') & (cast.n == cast.n)]))

How many roles in the movie "Inception" are of the main cast

51

In [ ]:
print('Show the top ten cast (actors\actresses) in the movie "Inception"')
print(cast[(cast.title == 'Inception') & (cast.n == cast.n)].sort_values(by=['n'], ascending=True).iloc[0:10, 2:3])

Show the top ten cast (actorsctresses) in the movie "Inception"

                         name
590576      Leonardo DiCaprio
859993   Joseph Gordon-Levitt
3387147            Ellen Page
940923              Tom Hardy
2406531          Ken Watanabe
1876301            Dileep Rao
1615709        Cillian Murphy
183937           Tom Berenger
2765969      Marion Cotillard
1826027    Pete Postlethwaite

In [ ]:
print("List all movies where there was a character 'Albus Dumbledore'")
print(cast[cast.character == 'Albus Dumbledore'].iloc[:,0:2])
print("\nNow modify the above to show only the actors who played the character 'Albus Dumbledore'")
print(cast[cast.character == 'Albus Dumbledore'].iloc[:,2:3])

List all movies where there was a character 'Albus Dumbledore'

                                             title  year
704984                                  Epic Movie  2007
792421         Harry Potter and the Goblet of Fire  2005
792423   Harry Potter and the Order of the Phoenix  2007
792424    Harry Potter and the Prisoner of Azkaban  2004
947789     Harry Potter and the Chamber of Secrets  2002
947790       Harry Potter and the Sorcerer's Stone  2001
1685537                      Ultimate Hero Project  2013
2248085                                     Potter  2015

Now modify the above to show only the actors who played the character 'Albus Dumbledore'

                        name
704984          Dane Farwell
792421        Michael Gambon
792423        Michael Gambon
792424        Michael Gambon
947789        Richard Harris
947790        Richard Harris
1685537  George (X) O'Connor
2248085    Timothy Tedmanson

In [ ]:
print("How many roles has 'Keanu Reeves' played throughout his career?")
print(len(cast[cast.name == 'Keanu Reeves']))
print("\nList the leading roles that 'Keanu Reeves' played on or after 1999 in order by year.")
print(cast[(cast.name == 'Keanu Reeves') & (cast.year >= 1999) & (cast.n < 10)].sort_values(by=['year'], ascending=True).iloc[:,4:5])

How many roles has 'Keanu Reeves' played throughout his career?

62

List the leading roles that 'Keanu Reeves' played on or after 1999 in order by year.

                    character
1892390                   Neo
1892397           Shane Falco
1892387      Donnie Barksdale
1892398               Griffin
1892358         Conor O'Neill
1892383           Nelson Moss
1892379         Julian Mercer
1892348      John Constantine
1892343            Bob Arctor
1892388            Alex Wyler
1892385                Klaatu
1892382  Detective Tom Ludlow
1892359           Henry Torne
1892342                   Kai
1892368           Donaka Mark
1892361             John Wick
1892366                  Evan
1892384             The Dream
1892393                  Hank
1892353      Detective Galban
1892399                Ramsey
1892362             John Wick
1892378            Lucas Hill

In [ ]:
print("List the total number of actor and actress roles available from 1950 - 1960")
print(len(cast[(cast.year >= 1950) & (cast.year < 1960)]))
print("\nList the total number of actor and actress roles available from 2007 - 2017")
print(len(cast[(cast.year >= 2007) & (cast.year < 2017)]))

List the total number of actor and actress roles available from 1950 - 1960

215471

List the total number of actor and actress roles available from 2007 - 2017

1292973

In [ ]:
print("List the total number of leading roles available from 2000 to present")
print(len(cast[(cast.year >= 2000) & (cast.n <= 10) & (cast.n == cast.n)]))
print("\nList the total number of non-leading roles available from 2000 - present (exclude support cast)")
print(len(cast[(cast.year >= 2000) & (cast.n > 10) & (cast.n == cast.n)]))
print("\nList the total number of support\extra-credit roles available from 2000 - present")
print(len(cast[(cast.year >= 2000) & (cast.n != cast.n)]))

List the total number of leading roles available from 2000 to present
461385

List the total number of non-leading roles available from 2000 - present (exclude support cast)

600893

List the total number of support\extra-credit roles available from 2000 - present

887484